<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="com/head :: cdnHead"></span>
    <title>管理用户</title>
    <span th:replace="com/head :: cdnShowHead"></span>
</head>
<body>
    <div id="app">
        <div th:replace="com/menu :: publicUserMenu"></div>
        <br><br><br><br>
        <div class="ui container" style="width: 85%; height: 1000px;">
            <div class="ui form">
                <div class="field">
                    <div class="ui fluid action input">
                        <input type="text" name="message" v-model="message" placeholder="通过迭代理由模糊查询...">
                        <button class="ui icon button" @click="searchUser">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ui fluid raised segment">
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>编号顺序</th>
                        <th>相关节点</th>
                        <th>迭代节点</th>
                        <th>迭代理由</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="iterator,index in iterators" :key="'iterator' + index">
                        <td>{{index}}</td>
                        <td>
                            <button class="ui yellow inverted button" @click="showIndex(iterator.nodeId)">相关节点</button>
                        </td>
                        <td>
                            <button class="ui yellow inverted button" @click="showIndex(iterator.iteratorId)">迭代节点</button>
                        </td>
                        <td>{{iterator.iteratorReason}}</td>
                        <td>
                            <button class="ui red inverted button"
                                    @click="deleteIterator(index, iterator.nodeId, iterator.iteratorId)">删除</button>
                            <button class="ui green inverted button"
                                    @click="editIterator(index, iterator.iteratorId, iterator.iteratorReason, iterator.nodeId)">
                                更新</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="10">
                            <div class="ui right floated pagination menu">
                                <a class="icon item" @click="toPre">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="disabled item">{{number}}</a>
                                <a class="icon item" @click="toNex">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div th:replace="com/model :: showIndexBlogModel"></div>
        <div th:replace="com/model :: deleteIteratorModel"></div>
        <div th:replace="com/model :: editIteratorModel"></div>
        <div th:replace="com/menu :: adminBarMenu"></div>
        <br><br>
        <div th:replace="com/foot :: foot"></div>
    </div>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                userVo: {},
                iteratorId: -1,
                topStar: [],
                topCollect: [],
                isLogin: false,
                str: "",
                type: -1,
                number: 1,
                size: 1,
                pageSize: 8,
                iterators: [],
                message: "",
                index: -1,
                showNode: {},
                nodeId: -1,
                reason: "",
                errorMessage: false
            },
            beforeMount: function(){
                // 用户信息
                axios.get("/user/getUserInfo")
                    .then(response => {
                        if (response.data !== ""){
                            this.isLogin = true
                            this.userVo = response.data
                        }else{
                            this.isLogin = false
                        }
                    })
                    .catch(error => console.log(error))
                // 最高点赞
                axios.get("/public/getTopStar?n=5")
                    .then(response => {
                        this.topStar = response.data
                    })
                    .catch(error => console.log(error))
                // 最高收藏
                axios.get("/public/getTopCollect?n=5")
                    .then(response => {
                        this.topCollect = response.data
                    })
                    .catch(error => console.log(error))
            },
            mounted: function() {
                axios.get("/admin/countAllIterator?message=" + this.message)
                    .then(response => {
                        this.size = response.data
                    })
                    .catch(error => console.log(error))
                this.prepare()
            },
            updated: function(){
                this.errorMessage = this.reason.length === 0
            },
            methods: {
                toMenu: function() {
                    $('.ui.labeled.icon.sidebar').sidebar('toggle');
                },
                logout: function(){
                    axios.get("/private/logout")
                        .then(response => {
                            this.isLogin = response.data !== 1;
                        })
                        .catch(error => console.log(error))
                },
                search: function() {
                    if (this.str === "") {
                        alert("请输入搜索内容")
                    } else {
                        window.location.href = "/private/search/?pageNumber=1&pageSize=6&str=" + this.str
                    }
                },
                toPre: function(){
                    if (this.number > 1){
                        this.number --;
                        this.prepare()
                    }
                },
                toNex: function(){
                    if (this.number < this.size){
                        this.number ++;
                        this.prepare()
                    }
                },
                prepare: function(){
                    axios.get("/admin/getAllIterator?pageNumber=" + this.number + "&pageSize=" + this.pageSize
                        + "&message=" + this.message)
                        .then(response => {
                            this.iterators = response.data
                        })
                        .catch(error => console.log(error))
                },
                searchUser: function(){
                    axios.get("/admin/countAllIterator?message=" + this.message)
                        .then(response => {
                            this.size = response.data
                        })
                        .catch(error => console.log(error))
                    this.prepare()
                },
                showIndex: function(nodeId){
                    toShowAdminBlog(nodeId)
                },
                deleteIterator(index, nodeId, iteratorId){
                    this.index = index
                    this.nodeId = nodeId
                    this.iteratorId = iteratorId
                    $('.ui.deleteIterator.basic.modal').modal('show')
                },
                editIterator(index, iteratorId, reason, nodeId){
                    this.index = index
                    this.iteratorId = iteratorId
                    this.nodeId = nodeId
                    this.reason = reason
                    $('.ui.editIterator.basic.modal')
                        .modal('setting',{
                            closable  : false,
                            blurring: true,
                            onDeny    : function(){
                                return true;
                            },
                            onApprove : function(){
                                if (app.errorMessage){
                                    return false
                                }
                                let iterator = new FormData()
                                iterator.append("reason", app.reason)
                                iterator.append("nodeId", app.nodeId)
                                axios.post('/admin/updateIterator/' + app.iteratorId, iterator,
                                    {headers:{'Content-Type':'application/x-www-form-urlencoded;charset=utf-8'}})
                                    .then(response => {
                                        if (response.data.includes("#")){
                                            app.iterators[index].iteratorReason = app.reason
                                            return true
                                        }
                                        else{
                                            alert(response.data)
                                            return false
                                        }
                                    })
                                    .catch(error => {alert("更新迭代理由失败");console.log(error)})
                            },
                        })
                        .modal('hide others')
                        .modal('show')
                }
            }
        })
        // 普通删除通知
        $(document).on('click', '#deleteIteratorModel', function() {
            axios.get('/admin/deleteIterator?nodeId=' + app.nodeId + "&iteratorId=" + app.iteratorId)
                .then(response => {
                    let msg = response.data
                    if (msg.includes("#")){
                        alert("删除成功")
                        app.iterators.splice(app.index, 1)
                    }
                    else{
                        alert(msg)
                    }
                })
                .catch(error => console.log(error))
        })
    </script>
    <script type="text/javascript" th:src="@{/js/showPublic.js}"></script>
</body>
</html>