<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.xiaobais.xiaobai.mapper.MyPreviousMapper">
    <select id="findPreviousByNodeId" parameterType="integer" resultType="net.xiaobais.xiaobai.model.Node">
        select node.*
        from node
        where node.node_id in (
            select previous.previous_id
            from previous
            where previous.node_id = #{nodeId}
            )
        and node.is_private = #{isPrivate}
        order by node.update_date desc
        limit #{pageNumber}, #{pageSize}
    </select>

    <select id="countPreviousByNodeId" parameterType="integer" resultType="int">
        select count(*)
        from node
        where node.node_id in (
            select previous.previous_id
            from previous
            where previous.node_id = #{nodeId}
        )
          and node.is_private = #{isPrivate}
    </select>
    <select id="findPreviousByNodeIdAndTitle" resultType="net.xiaobais.xiaobai.model.Node">
        select node.*
        from node
        where node.node_id in (
            select previous.previous_id
            from previous
            where previous.node_id = #{nodeId}
        )
          and node.is_private = #{isPrivate}
          and node.node_name like #{title}
          order by node.update_date desc
            limit #{pageNumber}, #{pageSize}
    </select>

    <select id="countPreviousByNodeIdAndTitle" resultType="int">
        select count(*)
        from node
        where node.node_id in (
            select previous.previous_id
            from previous
            where previous.node_id = #{nodeId}
        )
          and node.is_private = #{isPrivate}
          and node.node_name like #{title}
    </select>
</mapper>