<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="com/head :: head"></span>
    <title >index</title>
    <link rel="stylesheet" th:href="@{/item/highlight/styles/monokai-sublime.css}">
    <script type="text/javascript" th:src="@{/item/marked-master/marked.min.js}"></script>
    <script type="text/javascript" th:src="@{/item/highlight/highlight.pack.js}"></script>
    <style type="text/css">
        table{
            border: 1px solid skyblue;
            border-collapse:collapse;
        }
        thead{
            color: #0C9A9A;
        }
        th{
            border: 1px solid skyblue;
        }
        td{
            border: 1px solid skyblue;
        }
        blockquote{
            border-left: 1px solid skyblue;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="number" hidden="hidden" id="nodeId" th:value="${nodeId}">
        <div th:replace="com/menu :: menu"></div>
        <br><br><br>
        <div class="ui fluid container" v-show="isNode">
            <div class="ui three column grid">
                <div :class="left" v-show="isLeft">
                    <div class="ui fluid container">
                        <br>
                        <div class="ui stacked left aligned segment">
                            <div class="ui action input" :style="{width: inputWidth}">
                                <input type="text" placeholder="搜索..." name="preInput" v-model="preInput">
                                <button class="ui icon button" @click.prevent="preSearch">
                                    <i class="search icon"></i>
                                </button>
                            </div>
                        </div>
                        <div th:replace="com/card :: publicPreCard"></div>
                        <div class="ui stacked right aligned segment" v-show="prePage">
                            <div class="ui four bottom attached buttons">
                                <div class="ui teal button" @click.prevent="toPrePage(true)">上一页</div>
                                <div class="ui button active">第{{nowPreNum}}页</div>
                                <div class="ui button active">共{{preSize}}条</div>
                                <div class="ui teal button" @click.prevent="toNexPage(true)">下一页</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div :class="middle">
                    <div class="ui container" :style="{width: middleWidth}">
                        <div class="ui piled segment" v-show="isBlog">
                            <textarea hidden="hidden" th:text="${html}" id="html" style="white-space: pre-line"></textarea>
                            <div id="content"></div>
                            <span th:if="${flag}">
                                <br><br><br><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br><br><br><br>
                            </span>
                        </div>
                        <div class="ui raised segment" v-show="!isBlog">
                            <h4 class="ui header">A header</h4>
                            <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem
                                aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque
                                electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
                            <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis
                                sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide
                                phaedrum, vim vivendum maiestatis in.</p>
                            <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
                                illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam,
                                wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per
                                id.</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <div :class="right" v-show="isRight">
                    <div class="ui fluid container">
                        <br>
                        <div class="ui stacked left aligned segment">
                            <div class="ui action input" :style="{width: inputWidth}">
                                <input type="text" placeholder="搜索..." name="nexInput" v-model="nexInput">
                                <button class="ui icon button" @click.prevent="nexSearch">
                                    <i class="search icon"></i>
                                </button>
                            </div>
                        </div>
                        <div th:replace="com/card :: publicNexCard"></div>
                        <div class="ui stacked right aligned segment" v-show="nexPage">
                            <div class="ui four bottom attached buttons">
                                <div class="ui teal button" @click.prevent="toPrePage(false)">上一页</div>
                                <div class="ui button active">第{{nowNexNum}}页</div>
                                <div class="ui button active">共{{nexSize}}条</div>
                                <div class="ui teal button" @click.prevent="toNexPage(false)">下一页</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui container" v-show="!isNode">
            <div class="ui stacked segment">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <br><br>
        <div th:replace="com/foot :: foot"></div>
    </div>

    <script type="text/javascript">

        let app = new Vue({
            el: '#app',
            data: {
                isLeft: false,
                isRight: false,
                isBlog: true,
                isNode: true,
                isLogin: false,
                left: 'five wide column',
                middle: 'sixteen wide column',
                right: 'five wide column',
                middleWidth: '95%',
                inputWidth: '75%',
                str: '',
                MostSearch: [{
                    url: 'https://baidu.com',
                    title: '百度网站'
                },
                    {
                        url: 'https://baidu.com',
                        title: '百度网站'
                    },
                    {
                        url: 'https://baidu.com',
                        title: '百度网站'
                    }
                ],
                MostStar: [{
                    url: 'https://baidu.com',
                    title: '百度网站'
                },
                    {
                        url: 'https://baidu.com',
                        title: '百度网站'
                    },
                    {
                        url: 'https://baidu.com',
                        title: '百度网站'
                    }
                ],
                html: '',
                preNodes: [],
                nexNodes: [],
                nowPreNum: 0,
                nowNexNum: 0,
                preSize: 0,
                nexSize: 0,
                nodeId: 0,
                prePage: true,
                nexPage: true,
                preInput: "",
                nexInput: ""
            },
            mounted: function(){
                let nodeId = document.getElementById('nodeId').value
                this.nodeId = nodeId
                this.preparePage(nodeId, "", "", 0, 0)
                axios.get("/generateLogin")
                    .then(response => response.data == "1" ? this.isLogin = true : this.isLogin = false)
                    .catch(error => console.log(error))
            },
            methods: {
                changeSize: function() {
                    if (this.isLeft && this.isRight) {
                        this.middleWidth = '100%'
                        this.left = 'three wide column'
                        this.middle = 'ten wide column'
                        this.right = 'three wide column'
                    } else if (!this.isLeft && this.isRight) {
                        this.middleWidth = '95%'
                        this.middle = 'eleven wide column'
                        this.right = 'five wide column'
                    } else if (this.isLeft && !this.isRight) {
                        this.middleWidth = '95%'
                        this.left = 'five wide column'
                        this.middle = 'eleven wide column'
                        this.right = 'three wide column'
                    } else {
                        this.middleWidth = '80%'
                        this.left = 'three wide column'
                        this.middle = 'sixteen wide column'
                        this.right = 'three wide column'
                    }
                },
                showPreNode: function() {
                    this.isLeft = !this.isLeft
                    this.changeSize()
                },
                showNextNode: function() {
                    this.isRight = !this.isRight
                    this.changeSize()
                },
                changeBlog: function() {
                    this.isBlog = !this.isBlog
                },
                changeNode: function() {
                    this.isNode = !this.isNode
                },
                logout: function() {
                    this.isLogin = false
                },
                search: function() {
                    if (this.str === "") {
                        alert("请输入搜索内容")
                    } else {
                        console.log(this.str)
                    }
                },
                countLike: function(nodeId, index, flag){
                    axios.get("/addNodeLike?nodeId=" + nodeId)
                        .then(response => {
                            if(response.data == "1"){
                                flag ? this.preNodes[index].like += 1 : this.nexNodes[index].like += 1;
                            }
                        })
                        .catch(error => console.log(error))
                },
                countStar: function(nodeId, index, flag){
                    axios.get("/addNodeStar?nodeId=" + nodeId)
                        .then(response => {
                            if(response.data == "1"){
                                flag ? this.preNodes[index].collect += 1 : this.nexNodes[index].collect += 1;
                            }
                        })
                        .catch(error => console.log(error))
                },
                toPrePage: function(flag){
                    if (flag && this.nowPreNum > 0){
                        this.nowPreNum -= 1
                        this.getPreNode(this.nowPreNum, 6, this.nodeId, this.preInput)
                    }
                    if (!flag && this.nowNexNum > 0){
                        this.nowNexNum -= 1
                        this.getNexNode(this.nowNexNum, 6, this.nodeId, this.nexInput)
                    }
                },
                toNexPage: function(flag){
                    let pre = this.preSize - (this.nowPreNum + 1) * 6
                    if (flag && pre > 0){
                        this.nowPreNum += 1
                        pre = pre > 6 ? 6 : pre
                        this.getPreNode(this.nowPreNum, pre, this.nodeId, this.preInput)
                    }

                    let nex = this.nexSize - (this.nowNexNum + 1) * 6
                    if (!flag && nex > 0){
                        this.nowNexNum += 1
                        nex = nex > 6 ? 6 : nex
                        this.getNexNode(this.nowNexNum, nex, this.nodeId, this.nexInput)
                    }
                },
                getPreNode: function(pageNumber, pageSize, nodeId, title){
                    axios.get("/getPreNode?nodeId=" + nodeId + "&pageNumber=" + pageNumber + "&pageSize=" + pageSize + "&title=" + title)
                        .then(response => this.preNodes = response.data)
                        .catch(error => console.log(error))
                },
                getNexNode: function(pageNumber, pageSize, nodeId, title){
                    axios.get("/getNexNode?nodeId=" + nodeId+ "&pageNumber=" + pageNumber + "&pageSize=" + pageSize + "&title=" + title)
                        .then(response => this.nexNodes = response.data)
                        .catch(error => console.log(error))
                },
                preSearch: function(){
                    this.preparePage(this.nodeId, this.preInput, this.nexInput, 0, 0);
                },
                nexSearch: function(){
                    this.preparePage(this.nodeId, this.preInput, this.nexInput, 0, 0);
                },
                preparePage: function(nodeId, preInput, nexInput, pageSize, pageNumber){
                    // 前置节点
                    axios.get("/getPreCount?nodeId=" + nodeId + "&title=" + preInput)
                        .then(response => {
                            this.preSize = response.data
                            if(this.preSize > 6){
                                pageSize = 6
                                this.prePage = true
                            }
                            else{
                                pageSize = this.preSize
                                this.prePage = false
                            }
                            this.getPreNode(pageNumber, pageSize, this.nodeId, preInput)
                        })
                        .catch(error => console.log(error))

                    // 后置节点
                    axios.get("/getNexCount?nodeId=" + nodeId + "&title=" + nexInput)
                        .then(response => {
                            this.nexSize = response.data
                            if(this.nexSize > 6){
                                pageSize = 6
                                this.nexPage = true
                            }
                            else{
                                pageSize = this.nexSize
                                this.nexPage = false
                            }
                            this.getNexNode(pageNumber, pageSize, this.nodeId, nexInput)
                        })
                        .catch(error => console.log(error))

                }
            },
        })

        let html = document.getElementById('html').value;
        document.getElementById('content').innerHTML = marked(html
            , {
                baseUrl: null,
                breaks: true,
                gfm: true,
                headerIds: true,
                headerPrefix: '',
                highlight: function(code, language){
                    const validLanguage = hljs.getLanguage(language) ? language : 'plaintext';
                    return hljs.highlight(validLanguage, code).value;
                },
                langPrefix: 'language-',
                mangle: true,
                pedantic: false,
                renderer: new marked.Renderer(),
                silent: false,
                smartLists: true,
                smartypants: true,
                xhtml: true
            });
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>