<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="com/head :: cdnHead"></span>
    <title >index</title>
    <span th:replace="com/head :: cdnEditHead"></span>
    <style type="text/css">
        table{
            border: 1px solid skyblue;
            border-collapse:collapse;
        }
        thead{
            color: #0C9A9A;
        }
        th{
            border: 1px solid skyblue;
        }
        td{
            border: 1px solid skyblue;
        }
        blockquote{
            border-left: 1px solid skyblue;
        }
        #jsmind_container{
            height: 1200px;
        }
        #mind_container{
            height: 1200px;
        }
        #editor_jsmind_container{
            height: 1200px;
        }
        .right_bar{
            position: fixed !important;
            z-index: 10 !important;
            bottom: 0 !important;
            right: 0 !important;
            padding: 0.8em !important;
        }
        #content{
            height: auto;
        }
        #editorContent{
            height: 1200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="number" hidden="hidden" id="isUpdate" th:value="${isUpdate}">
        <input type="number" hidden="hidden" id="nodeId" th:value="${nodeId}">
        <div th:replace="com/menu :: menu"></div>
        <div id="top"></div>
        <br><br><br>
        <div class="ui fluid container">
            <div class="ui fluid container" v-show="isNode">
                <div class="ui three column grid">
                    <div :class="left" v-show="isLeft">
                        <div class="ui fluid container">
                            <br>
                            <div th:replace="com/model :: deletePreModel"></div>
                            <div class="ui stacked left aligned segment">
                                <div class="ui action input" :style="{width: inputWidth}">
                                    <input type="text" placeholder="搜索..." name="preInput" v-model="preInput">
                                    <button class="ui icon button" @click.prevent="preSearch">
                                        <i class="search icon"></i>
                                    </button>
                                </div>
                            </div>
                            <div th:replace="com/card :: addPreCard"></div>
                            <div th:replace="com/card :: privatePreCard"></div>
                            <div class="ui stacked right aligned segment" v-show="prePage">
                                <div class="ui four bottom attached buttons">
                                    <div class="ui teal button" @click.prevent="toPrePage(true)">上一页</div>
                                    <div class="ui button active">第{{nowPreNum}}页</div>
                                    <div class="ui button active">共{{preSize}}条</div>
                                    <div class="ui teal button" @click.prevent="toNexPage(true)">下一页</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div :class="middle">
                        <!--展示-->
                        <div class="ui container" :style="{width: middleWidth}" v-show="!isEditor">
                            <a class="ui red ribbon label" @click="changeEditor">编辑</a>
                            <h1 class="ui center aligned block header">{{node.title}}</h1>
                            <div th:replace="com/card :: showPrivateCard"></div>
                            <div class="ui piled segment" v-show="isBlog">
                                <textarea hidden="hidden" th:text="${html}" id="html" style="white-space: pre-line"></textarea>
                                <div id="content"></div>
                            </div>
                            <div class="ui raised segment" v-show="!isBlog">
                                <div id="jsmind_container"></div>
                            </div>
                        </div>
                        <!--编辑-->
                        <div class="ui container" :style="{width: middleWidth}" v-show="isEditor">
                            <a class="ui red ribbon label" @click="changeEditor">展示</a>
                            <div class="ui form">
                                <div class="field">
                                    <label>博客标题</label>
                                    <input type="text" name="blogTitle" id="blogTitle" placeholder="请输入标题" v-model="blogTitle">
                                </div>
                                <div class="field">
                                    <label>简单描述</label>
                                    <input type="text" name="blogDes" id="blogDes" placeholder="请输入简单描述" v-model="blogDes">
                                </div>
                            </div>
                            <div class="ui stacked segment" v-show="isBlog" id="editorContent">
                                <textarea hidden="hidden" th:text="${html}" id="editor_html" style="white-space: pre-line"></textarea>
                                <div id="test-editor">
                                    <textarea style="display:none;" id="update_html">{{editorHtml}}</textarea>
                                </div>
                            </div>
                            <div class="ui raised segment" v-show="!isBlog">
                                <div id="editor_jsmind_container"></div>
                            </div>
                            <div th:replace="com/form :: editForm"></div>
                        </div>
                    </div>
                    <div :class="right" v-show="isRight">
                        <div class="ui fluid container">
                            <br>
                            <div th:replace="com/model :: deleteNexModel"></div>
                            <div class="ui stacked left aligned segment">
                                <div class="ui action input" :style="{width: inputWidth}">
                                    <input type="text" placeholder="搜索..." name="nexInput" v-model="nexInput">
                                    <button class="ui icon button" @click.prevent="nexSearch">
                                        <i class="search icon"></i>
                                    </button>
                                </div>
                            </div>
                            <div th:replace="com/card :: addNexCard"></div>
                            <div th:replace="com/card :: privateNexCard"></div>
                            <div class="ui stacked right aligned segment" v-show="nexPage">
                                <div class="ui four bottom attached buttons">
                                    <div class="ui teal button" @click.prevent="toPrePage(false)">上一页</div>
                                    <div class="ui button active">第{{nowNexNum}}页</div>
                                    <div class="ui button active">共{{nexSize}}条</div>
                                    <div class="ui teal button" @click.prevent="toNexPage(false)">下一页</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui container" v-show="!isNode" style="width: 95%;">
                <div class="ui stacked segment">
                    <div id="mind_container"></div>
                </div>
            </div>
        </div>
        <div th:replace="com/model :: submitModel"></div>
        <div th:replace="com/model :: showIndexBlogModel"></div>
        <div th:replace="com/model :: showIndexMapModel"></div>
        <div th:replace="com/model :: changeBlogModel"></div>
        <div th:replace="com/model :: deleteBlogModel"></div>
        <div ></div>
        <div class="ui container" style="width: 95%;" v-if="userVo.userId != 1">
            <div class="ui raised segment">
                <button class="fluid ui green button" @click="toSubmit">发布博客</button>
            </div>
        </div>
        <br><br><br><br>
        <div th:replace="com/foot :: foot"></div>
        <div th:replace="com/Bar :: right_bar"></div>
    </div>

    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                userVo: {},
                topStar: [],
                topCollect: [],
                isLogin: false,
                isLeft: false,
                isRight: false,
                isBlog: true,
                isNode: true,
                isEditor: false,
                isPrepare: false,
                left: 'five wide column',
                middle: 'sixteen wide column',
                right: 'five wide column',
                middleWidth: '95%',
                inputWidth: '75%',
                str: '',
                html: '',
                mind: [],
                preNodes: [],
                nexNodes: [],
                nowPreNum: 0,
                nowNexNum: 0,
                preSize: 0,
                nexSize: 0,
                nodeId: 0,
                prePage: true,
                nexPage: true,
                preInput: "",
                nexInput: "",
                editorHtml: '',
                jm: {},
                node: {},
                blogTitle: "",
                blogDes: "",
                userId: "",
                select: [],
                deleteId: 0,
                index: -1,
                choice: 1,
                publicId: -1,
                publicNode: [],
                publicFlag: false,
                showNode: {},
                ajm: {},
                changeTitle: "",
                changeDes: "",
                editor: null,
                deleteNodeId: "",
                allJm: {},
                flag: ""
            },
            beforeMount: function(){
                this.isUpdate = document.getElementById("isUpdate").value
                this.editorHtml = document.getElementById('editor_html').value
                this.nodeId = document.getElementById('nodeId').value
                // 个人信息
                axios.get("/user/getUserInfo")
                    .then(response => {
                        if (response.data !== ""){
                            this.isLogin = true
                            this.userVo = response.data
                            axios.get("/private/getNode?nodeId=" + this.nodeId)
                                .then(response => {
                                    this.node = response.data
                                    this.blogDes = this.node.desc
                                    this.blogTitle = this.node.title
                                    if (this.isUpdate === 1){
                                        this.changeEditor()
                                    }
                                })
                                .catch(error => console.log(error))
                            this.prepareMind()
                            this.preparePage(this.nodeId, "", "", 0, 0)
                        }else{
                            this.isLogin = false
                        }
                    })
                    .catch(error => console.log(error))
                // 最高点赞
                axios.get("/public/getTopStar?n=5")
                    .then(response => {
                        this.topStar = response.data
                    })
                    .catch(error => console.log(error))
                // 最高收藏
                axios.get("/public/getTopCollect?n=5")
                    .then(response => {
                        this.topCollect = response.data
                    })
                    .catch(error => console.log(error))
            },
            methods: {
                changeSize: function() {
                    if (this.isLeft && this.isRight) {
                        this.middleWidth = '100%'
                        this.left = 'three wide column'
                        this.middle = 'ten wide column'
                        this.right = 'three wide column'
                    } else if (!this.isLeft && this.isRight) {
                        this.middleWidth = '95%'
                        this.middle = 'eleven wide column'
                        this.right = 'five wide column'
                    } else if (this.isLeft && !this.isRight) {
                        this.middleWidth = '95%'
                        this.left = 'five wide column'
                        this.middle = 'eleven wide column'
                        this.right = 'three wide column'
                    } else {
                        this.middleWidth = '95%'
                        this.left = 'three wide column'
                        this.middle = 'sixteen wide column'
                        this.right = 'three wide column'
                    }
                },
                showPreNode: function() {
                    this.isLeft = !this.isLeft
                    this.changeSize()
                },
                showNextNode: function() {
                    this.isRight = !this.isRight
                    this.changeSize()
                },
                changeBlog: function() {
                    this.isBlog = !this.isBlog
                },
                changeNode: function() {
                    this.isNode = !this.isNode
                },
                changeEditor: function(){
                    this.isEditor = !this.isEditor
                    if (this.isEditor) {
                        if(!this.isPrepare){
                            this.isPrepare = true
                            this.prepareEditor()
                            this.prepareEditorMind(true,'editor_jsmind_container')
                        }
                    }
                },
                logout: function() {
                    axios.get("/private/logout")
                        .then(response => {
                            this.isLogin = response.data !== 1;
                        })
                        .catch(error => console.log(error))
                },
                search: function() {
                    if (this.str === "") {
                        alert("请输入搜索内容")
                    } else {
                        window.location.href = "/private/search/?pageNumber=1&pageSize=6&str=" + this.str
                    }
                },
                toPrePage: function(flag){
                    if (flag && this.nowPreNum > 0){
                        this.nowPreNum -= 1
                        this.getPreNode(this.nowPreNum, 6, this.nodeId, this.preInput)
                    }
                    if (!flag && this.nowNexNum > 0){
                        this.nowNexNum -= 1
                        this.getNexNode(this.nowNexNum, 6, this.nodeId, this.nexInput)
                    }
                },
                toNexPage: function(flag){
                    let pre = this.preSize - (this.nowPreNum + 1) * 6
                    if (flag && pre > 0){
                        this.nowPreNum += 1
                        pre = pre > 6 ? 6 : pre
                        this.getPreNode(this.nowPreNum, pre, this.nodeId, this.preInput)
                    }

                    let nex = this.nexSize - (this.nowNexNum + 1) * 6
                    if (!flag && nex > 0){
                        this.nowNexNum += 1
                        nex = nex > 6 ? 6 : nex
                        this.getNexNode(this.nowNexNum, nex, this.nodeId, this.nexInput)
                    }
                },
                getPreNode: function(pageNumber, pageSize, nodeId, title){
                    axios.get("/private/getPreNode?nodeId=" + nodeId + "&pageNumber=" + pageNumber + "&pageSize=" + pageSize + "&title=" + title)
                        .then(response => this.preNodes = response.data)
                        .catch(error => console.log(error))
                },
                getNexNode: function(pageNumber, pageSize, nodeId, title){
                    axios.get("/private/getNexNode?nodeId=" + nodeId+ "&pageNumber=" + pageNumber + "&pageSize=" + pageSize + "&title=" + title)
                        .then(response => this.nexNodes = response.data)
                        .catch(error => console.log(error))
                },
                preSearch: function(){
                    this.preparePage(this.nodeId, this.preInput, this.nexInput, 0, 0);
                },
                nexSearch: function(){
                    this.preparePage(this.nodeId, this.preInput, this.nexInput, 0, 0);
                },
                preparePage: function(nodeId, preInput, nexInput, pageSize, pageNumber){
                    // 前置节点
                    axios.get("/private/getPreCount?nodeId=" + nodeId + "&title=" + preInput)
                        .then(response => {
                            this.preSize = response.data
                            if(this.preSize > 6){
                                pageSize = 6
                                this.prePage = true
                            }
                            else{
                                pageSize = this.preSize
                                this.prePage = false
                            }
                            this.getPreNode(pageNumber, pageSize, this.nodeId, preInput)
                        })
                        .catch(error => console.log(error))

                    // 后置节点
                    axios.get("/private/getNexCount?nodeId=" + nodeId + "&title=" + nexInput)
                        .then(response => {
                            this.nexSize = response.data
                            if(this.nexSize > 6){
                                pageSize = 6
                                this.nexPage = true
                            }
                            else{
                                pageSize = this.nexSize
                                this.nexPage = false
                            }
                            this.getNexNode(pageNumber, pageSize, this.nodeId, nexInput)
                        })
                        .catch(error => console.log(error))

                },
                prepareMind: function(){

                    this.prepareEditorMind(false, 'jsmind_container')

                    axios.get('/private/getNodeMind?nodeId=' + this.nodeId + "&userId=" + this.userVo.userId.toString() + "&level=3")
                        .then(response => {
                            let options = {
                                mode: 'full',
                                container: 'mind_container',
                                editable: true,
                                theme:'orange',
                                support_html: true,
                                view:{
                                    engine: 'canvas',   // 思维导图各节点之间线条的绘制引擎
                                    hmargin:50,        // 思维导图距容器外框的最小水平距离
                                    vmargin:50,         // 思维导图距容器外框的最小垂直距离
                                    line_width:3,       // 思维导图线条的粗细
                                    line_color:'#555'   // 思维导图线条的颜色
                                },
                                layout:{
                                    hspace:600,          // 节点之间的水平间距
                                    vspace:200,          // 节点之间的垂直间距
                                    pspace:10           // 节点与连接线之间的水平间距（用于容纳节点收缩/展开控制器）
                                },
                            }
                            let m = response.data
                            let res = []
                            m.forEach((item) =>{
                                let obj = {}
                                obj.id = item.id
                                obj.parentid = item.parentid
                                obj.isroot = item.isroot
                                obj.topic = item.topic
                                obj.direction = item.direction
                                obj.expanded = item.expanded
                                res.push(obj)
                            })
                            let mind = {
                                "meta":{
                                    "name":"测试",
                                    "author":"xiaobai",
                                    "version":"1.0",
                                },
                                "format":"node_array",
                                "data": res
                            }
                            app.allJm = new jsMind(options)
                            app.allJm.show(mind)
                        })
                        .catch(error => console.log(error))
                },
                prepareEditorMind: function(isEditor, container){
                    axios.get("/private/getMind?nodeId=" + this.nodeId)
                        .then(response => {
                            let options = {
                                mode: 'full',
                                container: container,
                                editable: isEditor,
                                theme:'orange',
                                support_html: true,
                                view:{
                                    engine: 'canvas',   // 思维导图各节点之间线条的绘制引擎
                                    hmargin:100,        // 思维导图距容器外框的最小水平距离
                                    vmargin:200,         // 思维导图距容器外框的最小垂直距离
                                    line_width:3,       // 思维导图线条的粗细
                                    line_color:'#555'   // 思维导图线条的颜色
                                },
                                layout:{
                                    hspace:300,          // 节点之间的水平间距
                                    vspace:200,          // 节点之间的垂直间距
                                    pspace:3           // 节点与连接线之间的水平间距（用于容纳节点收缩/展开控制器）
                                },
                            }
                            let m = response.data
                            let res = []
                            m.forEach((item) =>{
                                let obj = {}
                                obj.id = item.id
                                obj.parentid = item.parentid
                                obj.isroot = item.isroot
                                obj.topic = item.topic
                                obj.direction = item.direction
                                obj.expanded = item.expanded
                                res.push(obj)
                            })
                            let mind = {
                                "meta":{
                                    "name":"测试",
                                    "author":"xiaobai",
                                    "version":"1.0",
                                },
                                "format":"node_array",
                                "data": res
                            }
                            let jm = new jsMind(options)
                            if (isEditor){
                                this.jm = jm;
                            }
                            jm.show(mind)
                        })
                        .catch(error => console.log(error))
                },
                prepareEditor: function(){
                    $(function() {
                        let editor = editormd("test-editor", {
                            width  : "100%",
                            height : "100%",
                            watch : false,
                            toolbarIcons : function() {
                                return ["undo","redo","|",
                                    "bold","del","italic","quote","ucwords","uppercase","lowercase","|",
                                    "h1","h2","h3","h4","h5","h6","|",
                                    "list-ul","list-ol","hr","|",
                                    "link","reference-link","image","code","preformatted-text",
                                    "code-block","table","datetime","emoji","html-entities","pagebreak","|",
                                    "goto-line","watch","clear","search","|",
                                    //"help","info",
                                    "releaseIcon", "index"]
                            },
                            path   : "/item/editormd/lib/"
                        });
                    });
                },
                cut: function(nodeId, index, flag){
                    this.deleteId = nodeId
                    this.index = index
                    if (flag){
                        $('.ui.pre.modal').modal('show');
                    }
                    else{
                        $('.ui.nex.modal').modal('show');
                    }
                },
                edit: function(nodeId){
                    if (this.blogTitle === ""){
                        alert("标题不能为空")
                        return;
                    }
                    if (this.blogDes === ""){
                        alert("描述不能为空")
                        return;
                    }
                    let value = document.getElementById('update_html').value;
                    if (value === ""){
                        alert("博客内容不能为空")
                        return;
                    }
                    let addNodeVo = new FormData()
                    addNodeVo.append("title", this.blogTitle)
                    addNodeVo.append("desc", this.blogDes)
                    addNodeVo.append("blogContent", document.getElementById('update_html').value)
                    addNodeVo.append("mapData", this.jm !== {}
                        ? JSON.stringify(this.jm.get_data("node_array").data)
                        : "{}")
                    addNodeVo.append("select", this.select)
                    axios.post('/private/updateNode/' + nodeId, addNodeVo,
                        {headers:{'Content-Type':'application/x-www-form-urlencoded;charset=utf-8'}})
                        .then(response => {
                            alert("更新节点成功")
                            window.location.href = "/private/node/" + this.nodeId + "/" + this.userVo.userId + "?isUpdate=0"
                        })
                        .catch(error => {alert("更新节点失败");console.log(error)})
                },
                reBack: function(){
                    window.location.href = "/private/node/" + this.nodeId + "/" + this.userVo.userId + "?isUpdate=0"
                },
                toTop: function(){
                    window.location.href = '#top'
                },
                toSubmit: function(){
                    axios.get("/private/getAllPublic")
                        .then(response => {
                            this.publicNode = response.data;
                            console.log(this.privateNode)
                            $('.ui.submit.modal')
                                .modal({
                                    closable  : false,
                                    onApprove : function() {
                                        if (app.publicId === -1){
                                            app.publicFlag = true
                                            return false
                                        }
                                        else{
                                            axios.get('/person/public/addPublicNodeNotice?nodeId=' + app.nodeId
                                                + "&rootId=" + app.publicId + "&flag=" + app.choice)
                                                .then(response => {
                                                    alert(response.data)
                                                })
                                                .catch(error => console.log(error))
                                            return true;
                                        }
                                    }
                                }).modal('show');
                            $('.ui.radio.checkbox').checkbox();
                        })
                        .catch(error => console.log(error))
                }
            }
        })
    </script>
    <script type="text/javascript" th:src="@{/js/showPrivate.js}"></script>
    <script type="text/javascript">
        init()
    </script>
</body>
</html>