<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="com/head :: head"></span>
    <title>个人信息管理</title>
    <link rel="stylesheet" th:href="@{/item/highlight/styles/monokai-sublime.css}">
    <script type="text/javascript" th:src="@{/item/marked-master/marked.min.js}"></script>
    <script type="text/javascript" th:src="@{/item/highlight/highlight.pack.js}"></script>
    <style type="text/css">
        table{
            border: 1px solid skyblue;
            border-collapse:collapse;
        }
        thead{
            color: #0C9A9A;
        }
        th{
            border: 1px solid skyblue;
        }
        td{
            border: 1px solid skyblue;
        }
        blockquote{
            border-left: 1px solid skyblue;
        }
        #content_container{
            height: 1000px;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="number" id="userId" th:value="${userId}" hidden="hidden">
        <div th:replace="com/menu :: publicUserMenu"></div>
        <br><br><br><br>
        <div class="ui fluid container" id="content_container">
            <div class="ui container" style="width: 85%;">
                <div class="ui pointing menu">
                    <a :class="itemActive" @click="toReply">
                        反馈通知
                    </a>
                    <a :class="item" @click="toIterator">
                        其他通知
                    </a>
                </div>
                <div class="ui segment" v-if="isReply">
                    <div class="ui fluid action input">
                        <input type="text" name="message" v-model="message" placeholder="通过请求信息搜索...">
                        <button class="ui icon button" @click="searchNotice">
                            <i class="search icon"></i>
                        </button>
                    </div>
                    <div class="ui fluid raised segment">
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>请求编号</th>
                                <th>发送者</th>
                                <th>请求类型</th>
                                <th>请求信息</th>
                                <th>公开节点</th>
                                <th>相关节点</th>
                                <th>
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(notice,index) in notices" :key="'no' + index">
                                <td>{{index}}</td>
                                <td>{{notice.username}}</td>
                                <td>{{notice.type}}</td>
                                <td>{{notice.message}}</td>
                                <td>
                                    <a :href="notice.dealUrl" v-if="notice.dealUrl != ''">相关链接</a>
                                </td>
                                <td>
                                    <button class="ui yellow inverted button" @click="toShow(notice.nodeId)">相关节点</button>
                                </td>
                                <td>
                                    <button class="ui green inverted button" @click="toYes(index, notice.noticeId)">确认</button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="7">
                                    <div class="ui right floated pagination menu">
                                        <a class="icon item" @click="toPrePage">
                                            <i class="left chevron icon"></i>
                                        </a>
                                        <a class="disabled item">{{pageNumber + 1}}</a>
                                        <a class="icon item" @click="toNexPage">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="ui segment" v-if="!isReply">
                    <div class="ui fluid action input">
                        <input type="text" name="message" v-model="message" placeholder="通过请求信息搜索...">
                        <button class="ui icon button" @click="searchNit">
                            <i class="search icon"></i>
                        </button>
                    </div>
                    <div class="ui fluid raised segment">
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>请求编号</th>
                                <th>请求信息</th>
                                <th>迭代节点</th>
                                <th>当前节点</th>
                                <th>请求类型</th>
                                <th>
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(notice,index) in nit" :key="'nit' + index">
                                <td>{{index}}</td>
                                <td>{{notice.message}}</td>
                                <td>
                                    <button class="ui yellow inverted button"
                                            v-show="notice.isReply" @click="toShow(notice.iteratorId)">迭代节点</button>
                                </td>
                                <td>
                                    <button class="ui yellow inverted button" @click="toShow(notice.nodeId)">当前节点</button>
                                </td>
                                <td>
                                    <a :href="notice.dealUrl" v-show="!notice.isReply">迭代通知</a>
                                    <a :href="notice.dealUrl" v-show="notice.isReply">反馈通知</a>
                                </td>
                                <td>
                                    <button class="ui green inverted button"
                                            v-show="!notice.isReply" @click="toYes(index, notice.noticeId)">确认</button>
                                    <button class="ui green inverted button"
                                            v-show="notice.isReply" @click="toAgr(index, notice.noticeId)">
                                        同意</button>
                                    <button class="ui green inverted button"
                                            v-show="notice.isReply" @click="toRej(index, notice.noticeId)">
                                        驳回</button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="7">
                                    <div class="ui right floated pagination menu">
                                        <a class="icon item" @click="toPre">
                                            <i class="left chevron icon"></i>
                                        </a>
                                        <a class="disabled item">{{nitNumber}}</a>
                                        <a class="icon item" @click="toNex">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div th:replace="com/model :: showModel"></div>
        <div th:replace="com/model :: yesModel"></div>
        <div th:replace="com/model :: rejModel"></div>
        <div th:replace="com/model :: agrModel"></div>
        <div th:replace="com/foot :: foot"></div>
        <div class="ui left demo vertical inverted sidebar labeled icon menu">
            <a class="item" th:href="@{'/private/user/' + ${userId}}">
                <i class="user icon"></i>
                个人信息
            </a>
            <a class="item" th:href="@{'/private/user/' + ${userId} + '#privateCollect'}">
                <i class="star icon"></i>
                收藏博客
            </a>
            <a class="item">
                <i class="paper plane icon" th:href="@{'/private/user/' + ${userId} + '#public'}"></i>
                发布博客
            </a>
            <a class="item" th:href="@{/person/public/toImage}">
                <i class="image icon"></i>
                图片管理
            </a>
            <a class="item" th:href="@{/person/public/toNotice}">
                <i class="comment alternate icon"></i>
                通知管理
            </a>
        </div>

    </div>

    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                userVo: {},
                userId: -1,
                isLogin: false,
                str: "",
                size: 0,
                notices: [],
                pageNumber: 0,
                pageSize: 5,
                message: "",
                node: {},
                index: -1,
                url: "",
                nodeId: -1,
                whoId: -1,
                reason: "",
                noticeId: -1,
                itemActive: "active item",
                item: "item",
                isReply: true,
                number: 0,
                nitNumber: 1,
                nit: []
            },
            mounted: function() {
                this.userId = document.getElementById('userId').value
                axios.get("/user/getUserInfo")
                    .then(response => {
                        if (response.data !== ""){
                            this.isLogin = true
                            this.userVo = response.data
                        }else{
                            this.isLogin = false
                        }
                    })
                    .catch(error => console.log(error))
                axios.get("/person/public/getPersonNoticeCount?message=" + this.message)
                    .then(response => {
                        this.size = response.data
                    })
                    .catch(error => console.log(error))
                this.preparePage(this.userId, this.pageNumber, this.pageSize, "")
            },
            methods: {
                toYes: function(index, noticeId){
                    this.index = index
                    this.noticeId = noticeId
                    $('.ui.yes.basic.modal').modal('show');
                },
                toRej: function(index, noticeId, url){
                    this.index = index
                    this.noticeId = noticeId
                    $('.ui.rej.basic.modal').modal('show');
                },
                toAgr: function(index, noticeId, url){
                    this.index = index
                    this.noticeId = noticeId
                    $('.ui.agr.basic.modal').modal('show');
                },
                toShow: function(nodeId){
                    axios.get("/private/getNodeByUserId?nodeId=" + nodeId + "&userId=" + app.userId)
                        .then(response => {
                            this.node = response.data
                            document.getElementById('content').innerHTML = marked(this.node.content
                                , {
                                    baseUrl: null,
                                    breaks: true,
                                    gfm: true,
                                    headerIds: true,
                                    headerPrefix: '',
                                    highlight: function(code, language){
                                        const validLanguage = hljs.getLanguage(language) ? language : 'plaintext';
                                        return hljs.highlight(validLanguage, code).value;
                                    },
                                    langPrefix: 'language-',
                                    mangle: true,
                                    pedantic: false,
                                    renderer: new marked.Renderer(),
                                    silent: false,
                                    smartLists: true,
                                    smartypants: true,
                                    xhtml: true
                                });
                            hljs.highlightAll()
                            $('.ui.show.modal').modal('show');
                        })
                        .catch(error => console.log(error))
                },
                searchNotice: function(){
                    axios.get("/person/public/getPersonNoticeCount?message=" + this.message)
                        .then(response => {
                            this.size = response.data
                        })
                        .catch(error => console.log(error))
                    this.preparePage(userId, 0, 5, this.message)
                },
                preparePage: function(userId, pageNumber, pageSize, message) {
                    if (this.userId !== "1"){
                        axios.get("/person/public/getPersonNotice?pageNumber=" + pageNumber + "&pageSize=" + pageSize + "&message=" + message)
                            .then(response => {
                                if (response.data !== null){
                                    this.notices = response.data
                                }
                            })
                            .catch(error => console.log(error))
                    }
                },
                toPrePage: function() {
                    if (this.pageNumber > 0) {
                        this.pageNumber -= 1
                        this.preparePage(this.userId, this.pageNumber, this.pageSize, this.message)
                    }
                },
                toNexPage: function() {
                    let all = this.size - (this.pageNumber + 1) * this.pageSize
                    if (all > 0) {
                        this.pageNumber += 1
                        all = all > this.pageSize ? this.pageSize : all
                        this.preparePage(this.userId, this.pageNumber, all, this.message)
                    }
                },
                toMenu: function() {
                    $('.ui.labeled.icon.sidebar').sidebar('toggle');
                },
                logout: function(){
                    axios.get("/private/logout")
                        .then(response => {
                            this.isLogin = response.data !== 1;
                        })
                        .catch(error => console.log(error))
                },
                search: function() {
                    if (this.str === "") {
                        alert("请输入搜索内容")
                    } else {
                        window.location.href = "/private/search/?pageNumber=1&pageSize=6&str=" + this.str
                    }
                },
                toReply: function(){
                    this.itemActive = "active item"
                    this.item = "item"
                    this.isReply = true
                    axios.get("/person/public/getPersonNoticeCount?message=" + this.message)
                        .then(response => {
                            this.size = response.data
                        })
                        .catch(error => console.log(error))
                    this.preparePage(this.userId, this.pageNumber, this.pageSize, "")
                },
                toIterator: function(){
                    this.itemActive = "item"
                    this.item = "active item"
                    this.isReply = false
                    axios.get("/person/public/getIteratorNoticeCount?message=" + this.message)
                        .then(response => {
                            this.nubmer = response.data
                        })
                        .catch(error => console.log(error))
                    this.prepare()
                },
                toPre: function(){
                    if (this.nitNumber > 1){
                        this.nitNumber --;
                        this.prepare()
                    }
                },
                toNex: function(){
                    if (this.nitNumber < this.number){
                        this.nitNumber ++;
                        this.prepare()
                    }
                },
                prepare: function(){
                    axios.get("/person/public/getIteratorNotice?pageNumber=" + this.nitNumber + "&pageSize=" + this.pageSize
                        + "&message=" + this.message)
                        .then(response => {
                            this.nit = response.data
                            console.log(this.nit)
                        })
                        .catch(error => console.log(error))
                },
                searchNit: function(){
                    axios.get("/person/public/getIteratorNoticeCount?message=" + this.message)
                        .then(response => {
                            this.nubmer = response.data
                            this.prepare()
                        })
                        .catch(error => console.log(error))
                }
            }
        })
        $(document).on('click', '#yesButton', function() {
            axios.get('/person/public/dealReplyNotice/' + app.noticeId)
                .then(response => {
                    let msg = response.data
                    if (!msg.includes("#")){
                        app.notices.splice(app.index, 1)
                        app.nit.splice(app.index, 1)
                    }
                    alert(msg)
                })
                .catch(error => console.log(error))
        })
        $(document).on('click', '#rejButton', function() {
            axios.get('/person/public/errorIteratorNotice?noticeId=' + app.noticeId)
                .then(response => {
                    let msg = response.data
                    if (!msg.includes("#")){
                        app.nit.splice(app.index, 1)
                    }
                    alert(msg)
                })
                .catch(error => console.log(error))
        })
        $(document).on('click', '#agrButton', function() {
            axios.get('/person/public/dealIteratorNotice?noticeId=' + app.noticeId)
                .then(response => {
                    let msg = response.data
                    if (!msg.includes("#")){
                        app.nit.splice(app.index, 1)
                    }
                    alert(msg)
                })
                .catch(error => console.log(error))
        })
    </script>
</body>
</html>