<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[${username}]]的建议</title>
    <span th:replace="com/head :: head"></span>
    <title >index</title>
    <style type="text/css">
        .right_bar{
            position: fixed !important;
            z-index: 10 !important;
            bottom: 0 !important;
            right: 0 !important;
            padding: 0.8em !important;
        }
    </style>
</head>
<body>
<div id="app">
    <div th:replace="com/menu :: simpleMenu"></div>
    <div id="top"></div>
    <br>
    <br>
    <div class="ui fluid container">
        <div class="ui fluid container">
            <div th:replace="com/show :: suggestShow"></div>
        </div>
    </div>
    <br><br>
    <div th:replace="com/foot :: foot"></div>
    <div th:replace="com/Bar :: right_bar"></div>
</div>
<script type="text/javascript">

    let app = new Vue({
        el: '#app',
        data: {
            userVo: {},
            topStar: [],
            topCollect: [],
            isLogin: false,
            str: '',
            nodeId: 0,
            show: false
        },
        beforeMount: function(){
            // 个人信息
            axios.get("/user/getUserInfo")
                .then(response => {
                    if (response.data !== ""){
                        this.isLogin = true
                        this.userVo = response.data
                    }else{
                        this.isLogin = false
                    }
                })
                .catch(error => console.log(error))
            // 最高点赞
            axios.get("/public/getTopStar?n=5")
                .then(response => {
                    this.topStar = response.data
                })
                .catch(error => console.log(error))
            // 最高收藏
            axios.get("/public/getTopCollect?n=5")
                .then(response => {
                    this.topCollect = response.data
                })
                .catch(error => console.log(error))
        },
        methods: {
            logout: function() {
                axios.get("/private/logout")
                    .then(response => {
                        this.isLogin = response.data !== 1;
                    })
                    .catch(error => console.log(error))
            },
            search: function() {
                if (this.str === "") {
                    alert("请输入搜索内容")
                } else {
                    window.location.href = "/public/search/?pageNumber=1&pageSize=6&str=" + this.str
                }
            },
            toTop: function(){
                window.location.href = '#top'
            }
        },
    })
</script>
</body>
</html>