<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="com/head :: cdnHead"></span>
    <title >index</title>
    <span th:replace="com/head :: cdnEditHead"></span>
    <style type="text/css">
        table{
            border: 1px solid skyblue;
            border-collapse:collapse;
        }
        thead{
            color: #0C9A9A;
        }
        th{
            border: 1px solid skyblue;
        }
        td{
            border: 1px solid skyblue;
        }
        blockquote{
            border-left: 1px solid skyblue;
        }
        #jsmind_container{
            height: 1000px;
        }
        #mind_container{
            height: 1000px;
        }
        .right_bar{
            position: fixed !important;
            z-index: 10 !important;
            bottom: 0 !important;
            right: 0 !important;
            padding: 0.8em !important;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="number" hidden="hidden" id="nodeId" th:value="${nodeId}">
        <div th:replace="com/menu :: iteratorMenu"></div>
        <div id="top"></div>
        <br><br><br>
        <div class="ui fluid container" v-show="isNode">
            <div class="ui container" style="width: 85%;">
                <div class="ui piled segment" v-show="isBlog">
                    <textarea hidden="hidden" th:text="${html}" id="html" style="white-space: pre-line"></textarea>
                    <div id="content"></div>
                    <span th:if="${flag}">
                                <br><br><br><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br><br><br><br>
                            </span>
                </div>
                <div class="ui raised segment" v-show="!isBlog">
                    <div id="jsmind_container"></div>
                </div>
            </div>
        </div>
        <div class="ui container" v-show="!isNode" style="width: 80%;">
            <div class="ui stacked segment">
                <div id="mind_container"></div>
            </div>
        </div>
        <br><br>
        <div th:replace="com/model :: showIndexMapModel"></div>
        <div th:replace="com/model :: showIndexBlogModel"></div>
        <div th:replace="com/foot :: foot"></div>
        <div th:replace="com/Bar :: right_bar"></div>
    </div>

    <script type="text/javascript">

        let app = new Vue({
            el: '#app',
            data: {
                userVo: {},
                topStar: [],
                topCollect: [],
                isLogin: false,
                isBlog: true,
                isNode: true,
                str: '',
                html: '',
                nodeId: 0,
                jm: {},
                showNode: {}
            },
            beforeMount: function(){
                this.nodeId = document.getElementById('nodeId').value
                // 个人信息
                axios.get("/user/getUserInfo")
                    .then(response => {
                        if (response.data !== ""){
                            this.isLogin = true
                            this.userVo = response.data
                        }else{
                            this.isLogin = false
                        }
                    })
                    .catch(error => console.log(error))
                // 最高点赞
                axios.get("/public/getTopStar?n=5")
                    .then(response => {
                        this.topStar = response.data
                    })
                    .catch(error => console.log(error))
                // 最高收藏
                axios.get("/public/getTopCollect?n=5")
                    .then(response => {
                        this.topCollect = response.data
                    })
                    .catch(error => console.log(error))
            },
            mounted: function(){
                axios.get("/public/getMind?nodeId=" + this.nodeId)
                    .then(response => {
                        let options = {
                            mode: 'full',
                            container: 'jsmind_container',
                            editable: true,
                            theme:'orange',
                            support_html: true,
                            view:{
                                engine: 'canvas',   // 思维导图各节点之间线条的绘制引擎
                                hmargin:500,        // 思维导图距容器外框的最小水平距离
                                vmargin:200,         // 思维导图距容器外框的最小垂直距离
                                line_width:3,       // 思维导图线条的粗细
                                line_color:'#555'   // 思维导图线条的颜色
                            },
                            layout:{
                                hspace:100,          // 节点之间的水平间距
                                vspace:200,          // 节点之间的垂直间距
                                pspace:2           // 节点与连接线之间的水平间距（用于容纳节点收缩/展开控制器）
                            },
                        }
                        let m = response.data
                        let res = []
                        m.forEach((item) =>{
                            let obj = {}
                            obj.id = item.id
                            obj.parentid = item.parentid
                            obj.isroot = item.isroot
                            obj.topic = item.topic
                            obj.direction = item.direction
                            obj.expanded = item.expanded
                            res.push(obj)
                        })
                        let mind = {
                            "meta":{
                                "name":"测试",
                                "author":"xiaobai",
                                "version":"1.0",
                            },
                            "format":"node_array",
                            "data": res
                        }
                        let jm = new jsMind(options)
                        jm.show(mind)
                    })
                    .catch(error => console.log(error))

                axios.get('/person/public/getIteratorMind?nodeId=' + this.nodeId)
                    .then(response => {
                        let options = {
                            mode: 'full',
                            container: 'mind_container',
                            editable: true,
                            theme:'orange',
                            support_html: true,
                            view:{
                                engine: 'canvas',   // 思维导图各节点之间线条的绘制引擎
                                hmargin:50,        // 思维导图距容器外框的最小水平距离
                                vmargin:50,         // 思维导图距容器外框的最小垂直距离
                                line_width:3,       // 思维导图线条的粗细
                                line_color:'#555'   // 思维导图线条的颜色
                            },
                            layout:{
                                hspace:550,          // 节点之间的水平间距
                                vspace:200,          // 节点之间的垂直间距
                                pspace:2           // 节点与连接线之间的水平间距（用于容纳节点收缩/展开控制器）
                            },
                        }
                        let m = response.data
                        let res = []
                        m.forEach((item) =>{
                            let obj = {}
                            obj.id = item.id
                            obj.parentid = item.parentid
                            obj.isroot = item.isroot
                            obj.topic = item.topic
                            obj.direction = item.direction
                            obj.expanded = item.expanded
                            res.push(obj)
                        })
                        let mind = {
                            "meta":{
                                "name":"测试",
                                "author":"xiaobai",
                                "version":"1.0",
                            },
                            "format":"node_array",
                            "data": res
                        }
                        let jm = new jsMind(options)
                        jm.show(mind)
                    })
                    .catch(error => console.log(error))
            },
            methods: {
                changeBlog: function() {
                    this.isBlog = !this.isBlog
                },
                changeNode: function() {
                    this.isNode = !this.isNode
                },
                logout: function() {
                    axios.get("/private/logout")
                        .then(response => {
                            this.isLogin = response.data !== 1;
                        })
                        .catch(error => console.log(error))
                },
                search: function() {
                    if (this.str === "") {
                        alert("请输入搜索内容")
                    } else {
                        window.location.href = "/public/search/?pageNumber=1&pageSize=6&str=" + this.str
                    }
                },
                toTop: function(){
                    window.location.href = '#top'
                }
            },
        })
    </script>
    <script type="text/javascript" th:src="@{/js/showPublic.js}"></script>
    <script type="text/javascript">
        init(false)
    </script>
</body>
</html>