<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

    <!--私有博客卡片-->
    <div class="ui green inverted stacked right aligned segment" th:fragment="privateCard">
        <div class="ui fluid card">
            <div class="content">
                <i class="red inverted left floated cut icon" @click.once="cut(1)"></i>
                <i class="red inverted right floated edit icon" @click.once="edit(1)"></i>
                <div class="center aligned header"><a href="">Cute Dog</a></div>
                <div class="center aligned description">
                    <p>这里表达是干什么的？</p>
                    <p>和当前节点的关系</p>
                </div>
                <div class="meta">
                    <a>Last Seen 2 days ago</a>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="like icon"></i>
                    17点赞
                </span>
                <span class="right floated star">
                    <i class="star icon"></i>
                    89收藏
                </span>
            </div>
        </div>
    </div>
    <!--公共博客卡片-->
    <div class="ui green inverted stacked right aligned segment" th:fragment="publicPreCard" v-for="node,index in preNodes">
        <div class="ui fluid card">
            <div class="content">
                <a :href="node.id">
                    <img class="ui red right floated avatar image" th:src="@{/img/logo.png}">
                </a>
                <div class="center aligned header"><a :href="node.url">{{node.title}}</a></div>
                <div class="center aligned description">
                    <p>和下一个节点的关系: {{node.relationship}}</p>
                </div>
                <div class="meta">
                    <a>{{node.time}}</a>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="like icon" @click.once="countLike(node.id, index, true)"></i>
                    {{node.like}}点赞
                </span>
                <span class="right floated star">
                    <i class="star icon" @click.once="countStar(node.id, index, true)"></i>
                    {{node.collect}}收藏
                </span>
            </div>
        </div>
    </div>
    <div class="ui green inverted stacked right aligned segment" th:fragment="publicNexCard" v-for="node,index in nexNodes">
        <div class="ui fluid card">
            <div class="content">
                <a :href="node.id">
                    <img class="ui red right floated avatar image" th:src="@{/img/logo.png}">
                </a>
                <div class="center aligned header"><a :href="node.url">{{node.title}}</a></div>
                <div class="center aligned description">
                    <p>和下一个节点的关系: {{node.relationship}}</p>
                </div>
                <div class="meta">
                    <a>{{node.time}}</a>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="like icon" @click.once="countLike(node.id, index, false)"></i>
                    {{node.like}}点赞
                </span>
                <span class="right floated star">
                    <i class="star icon" @click.once="countStar(node.id, index, false)"></i>
                    {{node.collect}}收藏
                </span>
            </div>
        </div>
    </div>
    <!--收藏博客卡片-->
    <div class="ui green inverted stacked right aligned segment" th:fragment="starCard">
        <div class="ui fluid card">
            <div class="content">
                <i class="red inverted right floated exchange icon" @click.once="exchange(1)"></i>
                <div class="center aligned header"><a href="">Cute Dog</a></div>
                <div class="center aligned description">
                    <p>这里表达是干什么的？</p>
                    <p>和当前节点的关系</p>
                </div>
                <div class="meta">
                    <a>Last Seen 2 days ago</a>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="like icon"></i>
                    17点赞
                </span>
                <span class="right floated star">
                    <i class="star icon"></i>
                    89收藏
                </span>
            </div>
        </div>
    </div>

</body>
</html>