<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

    <!--公共博客卡片-->
    <div class="ui yellow inverted stacked right aligned segment" th:fragment="publicPreCard"
         v-for="node,index in preNodes">
        <div class="ui fluid card">
            <div class="content">
                <a :href="node.userUrl">
                    <img class="ui red right floated avatar image" :src="node.avatar">
                </a>
                <div class="center aligned header"><a :href="node.url">{{node.title}}</a></div>
                <div class="center aligned description">
                    <p>和下一个节点的关系: {{node.relationship}}</p>
                </div>
                <div class="meta">
                    <a>{{node.time}}</a>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="like icon" @click.once="countLike(node.id, index, true)"></i>
                    {{node.like}}点赞
                </span>
                <span class="right floated star">
                    <i class="star icon" @click.once="countStar(node.id, index, true)"></i>
                    {{node.collect}}收藏
                </span>
            </div>
        </div>
    </div>
    <div class="ui yellow inverted stacked right aligned segment" th:fragment="publicNexCard"
         v-for="node,index in nexNodes">
        <div class="ui fluid card">
            <div class="content">
                <a :href="node.userUrl">
                    <img class="ui red right floated avatar image" :src="node.avatar">
                </a>
                <div class="center aligned header"><a :href="node.url">{{node.title}}</a></div>
                <div class="center aligned description">
                    <p>和下一个节点的关系: {{node.relationship}}</p>
                </div>
                <div class="meta">
                    <a>{{node.time}}</a>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="like icon" @click.once="countLike(node.id, index, false)"></i>
                    {{node.like}}点赞
                </span>
                <span class="right floated star">
                    <i class="star icon" @click.once="countStar(node.id, index, false)"></i>
                    {{node.collect}}收藏
                </span>
            </div>
        </div>
    </div>

    <!--私有博客卡片-->
    <div class="ui yellow inverted stacked right aligned segment" th:fragment="privatePreCard"
         v-for="node,index in preNodes">
        <div class="ui fluid card">
            <div class="content">
                <i class="red left floated cut icon"></i>
                <a class="left floated" @click="cut(node.id, index, true)">删除</a>
                <i class="red inverted right floated edit icon"></i>
                <a :href="node.updateUrl">更新</a>
                <div class="center aligned header"><a :href="node.url">{{node.title}}</a></div>
                <div class="center aligned description">
                    <p>和下一个节点的关系: {{node.relationship}}</p>
                </div>
                <div class="meta">
                    <a>{{node.time}}</a>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="like icon"></i>
                    {{node.like}}点赞
                </span>
                <span class="right floated star">
                    <i class="star icon"></i>
                    {{node.collect}}收藏
                </span>
            </div>
        </div>
    </div>
    <div class="ui yellow inverted stacked right aligned segment" th:fragment="privateNexCard"
         v-for="node,index in nexNodes">
        <div class="ui fluid card">
            <div class="content">
                <i class="red inverted left floated cut icon"></i>
                <a class="left floated" @click="cut(node.id, index, false)">删除</a>
                <i class="red inverted right floated edit icon"></i>
                <a :href="node.updateUrl">更新</a>
                <div class="center aligned header"><a :href="node.url">{{node.title}}</a></div>
                <div class="center aligned description">
                    <p>和下一个节点的关系: {{node.relationship}}</p>
                </div>
                <div class="meta">
                    <a>{{node.time}}</a>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="like icon"></i>
                    {{node.like}}点赞
                </span>
                <span class="right floated star">
                    <i class="star icon"></i>
                    {{node.collect}}收藏
                </span>
            </div>
        </div>
    </div>

    <!--迭代节点卡片-->
    <div class="ui red inverted stacked right aligned segment" th:fragment="iteratorCard">
        <div class="ui fluid card">
            <div class="content">
                <div class="center aligned header">迭代节点</div>
                <div class="center aligned description">
                    迭代节点：你所添加的新节点比当前节点优，并且想要代替它，
                    所以放在当前的前置节点上；
                    <br>
                    <strong>红色：为了表达地出突出一点</strong>
                </div>
            </div>
            <div class="ui bottom attached button">
                <i class="add icon"></i>
                <a th:href="@{'/person/public/toAddIterator/' + ${nodeId}}">添加迭代节点</a>
            </div>
        </div>
    </div>

    <!--添加建议节点卡片-->
    <div class="ui green inverted stacked left aligned segment" th:fragment="suggestCard">
        <div class="ui fluid card">
            <div class="content">
                <div class="center aligned header">建议节点</div>
                <div class="center aligned description">
                    建议节点：是当前节点有一些简单问题，你想表达你的看法：最好提出你的解决方案，
                    否则建议直接在评论区提即可。
                    <br>
                    <strong>绿色: 为了表达地轻松一点</strong>
                </div>
            </div>
            <div class="ui bottom attached button">
                <i class="add icon"></i>
                <a th:href="@{'/person/public/toAddSuggest/' + ${nodeId}}">添加建议节点</a>
            </div>
        </div>
    </div>

    <!--收藏博客卡片-->
    <div class="ui yellow inverted stacked right aligned segment" th:fragment="starCard">
        <div class="ui fluid card">
            <div class="content">
                <i class="red inverted right floated exchange icon" @click.once="exchange(1)"></i>
                <div class="center aligned header"><a href="">Cute Dog</a></div>
                <div class="center aligned description">
                    <p>这里表达是干什么的？</p>
                    <p>和当前节点的关系</p>
                </div>
                <div class="meta">
                    <a>Last Seen 2 days ago</a>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="like icon"></i>
                    17点赞
                </span>
                <span class="right floated star">
                    <i class="star icon"></i>
                    89收藏
                </span>
            </div>
        </div>
    </div>

    <!--添加前置节点-->
    <div class="ui red inverted stacked right aligned segment" th:fragment="addPreCard">
        <div class="ui fluid card">
            <div class="content">
                <div class="center aligned header">添加前置节点</div>
                <div class="center aligned description">
                    添加前置节点
                    <br>
                </div>
            </div>
            <div class="ui bottom attached button">
                <i class="add icon"></i>
                <a th:href="@{'/private/toAddPrevious/' + ${nodeId}}">添加前置节点</a>
            </div>
        </div>
    </div>
    <!--添加后置节点-->
    <div class="ui green inverted stacked left aligned segment" th:fragment="addNexCard">
        <div class="ui fluid card">
            <div class="content">
                <div class="center aligned header">添加后置节点</div>
                <div class="center aligned description">
                    添加后置节点
                    <br>
                </div>
            </div>
            <div class="ui bottom attached button">
                <i class="add icon"></i>
                <a th:href="@{'/private/toAddNext/' + ${nodeId}}">添加后置节点</a>
            </div>
        </div>
    </div>

    <!--展示私有基本信息卡片-->
    <div class="ui fluid card" th:fragment="showPrivateCard">
        <div class="content">
            <a :href="node.userUrl">
                <img class="ui red right floated avatar image" :src="node.avatar">
                {{node.username}}
            </a>
            <div class="center aligned description">
                <p>{{node.desc}}</p>
            </div>
            <div class="meta">
                <a>{{node.time}}</a>
            </div>
        </div>
        <div class="extra content">
            <span class="left floated like">
                <i class="like icon"></i>
                {{node.like}}点赞
            </span>
            <span class="right floated star">
                <i class="star icon"></i>
                {{node.star}}收藏
            </span>
        </div>
    </div>
    <!--展示公开基本信息卡片-->
    <div class="ui fluid card" th:fragment="showPublicCard">
        <div class="content">
            <a :href="node.userUrl">
                <img class="ui red right floated avatar image" :src="node.avatar">
                {{node.username}}
            </a>
            <h1 class="ui center aligned header">{{node.title}}</h1>
            <div class="center aligned description">
                <p>{{node.desc}}</p>
            </div>
            <div class="meta">
                <a>{{node.time}}</a>
            </div>
        </div>
        <div class="extra content">
                <span class="left floated like">
                    <i class="like icon" @click.once="countLike(node.id, -1, true)"></i>
                    {{node.like}}点赞
                </span>
            <span class="right floated star">
                    <i class="star icon" @click.once="countStar(node.id, -1, true)"></i>
                    {{node.collect}}收藏
                </span>
        </div>
    </div>
</body>
</html>