<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <span th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="shortcut icon" th:href="@{favicon.ico}" >
        <link rel="stylesheet"  href="" th:href="@{/item/semantic_ui/semantic.min.css}">
        <script type="text/javascript" th:src="@{/item/editormd/jquery-3.5.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/item/semantic_ui/semantic.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
    </span>
</body>
</html>