<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
    <!--创建目录-->
    <div class="ui createDir modal" th:fragment="createDirModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="stacked segment">
                <div class="ui form">
                    <div class="ui teal inverted field">
                        <label>目录名</label>
                        <input type="text" name="dir" v-model="dir" placeholder="目录名只能字母、下划线、数字">
                    </div>
                    <div class="actions">
                        <div class="ui black deny button">取消</div>
                        <div class="ui positive button" id="createButton">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--更新目录-->
    <div class="ui updateDir modal" th:fragment="updateDirModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="stacked segment">
                <div class="ui form">
                    <div class="ui teal inverted field">
                        <label>目录名</label>
                        <input type="text" name="dir" v-model="dir" placeholder="目录名只能字母、下划线、数字">
                    </div>
                    <div class="actions">
                        <div class="ui black deny button">取消</div>
                        <div class="ui positive button" id="updateButton">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--删除目录-->
    <div class="ui deleteDir basic modal" th:fragment="deleteDirModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            需要删除的文件
        </div>
        <div class="content">
            <p>是否删除？</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="deleteButton">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--创建文件-->
    <div class="ui createFile modal" th:fragment="createFileModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="stacked segment">
                <div class="ui form">
                    <div class="ui teal inverted field">
                        <label>目录名</label>
                        <input type="file" id="fileUpload" placeholder="选择文件">
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">取消</div>
            <div class="ui positive button" id="createFileButton">确定</div>
        </div>
    </div>
    <!--更新文件-->
    <div class="ui updateFile modal" th:fragment="updateFileModel">
        <div class="content">
            <div class="stacked segment">
                <div class="ui form">
                    <div class="ui teal inverted field">
                        <label>新文件名</label>
                        <input type="text" name="newName" v-model="newName" placeholder="选择文件">
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">取消</div>
            <div class="ui positive button" id="updateFileButton">确定</div>
        </div>
    </div>
    <!--删除文件-->
    <div class="ui deleteFile basic modal" th:fragment="deleteFileModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            需要删除的文件
        </div>
        <div class="content">
            <p>是否删除？</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="deleteFileButton">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>

    <!--删除前置节点-->
    <div class="ui pre modal" th:fragment="deletePreModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="description">
                <div class="ui header">删除前置节点</div>
                <p>要求：当前前置节点必须没有前置节点</p>
                <p>是否同意删除?</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                不同意
            </div>
            <div class="ui positive right labeled icon button" id="deletePreModel">
                同意
            </div>
        </div>
    </div>
    <!--删除后置节点-->
    <div class="ui nex modal" th:fragment="deleteNexModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="description">
                <div class="ui header">删除后置节点</div>
                <p>要求：当前后置节点必须没有后置节点</p>
                <p>是否同意删除?</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                不同意
            </div>
            <div class="ui positive right labeled icon button" id="deleteNexModel">
                同意
            </div>
        </div>
    </div>

    <!--发布博客-->
    <div class="ui submit modal" th:fragment="submitModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="description">
                <div class="ui header">发布私有节点</div>
                <div class="ui form">
                    <div class="ui negative message" th:if="publicFlag">
                        <i class="close icon"></i>
                        <p>公开根节点不能为空</p>
                    </div>
                    <div class="field">
                        <select v-model="publicId">
                            <option value="">选择当前节点的公开根节点</option>
                            <option v-for="node,index in publicNode" :value="node.id" :key="'a' + index">
                                {{node.title}}</option>
                        </select>
                    </div>
                    <div class="fields">
                        <label>选择新节点和私有根节点的关系</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="choice" v-model="choice"
                                       checked="checked" tabindex="0" class="hidden" value="1">
                                <label>前置节点</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="choice" v-model="choice"
                                       tabindex="0" class="hidden" value="0">
                                <label>后置节点</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                取消
            </div>
            <div class="ui positive right labeled icon button">
                发布
            </div>
        </div>
    </div>
    <!--驳回发布-->
    <div class="ui reject basic modal" th:fragment="rejectModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否驳回请求
        </div>
        <div class="ui content">
            <div class="ui inverted form">
                <div class="field">
                    <label>驳回理由</label>
                    <textarea rows="2" name="reason" v-model="reason"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="reject">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--同意发布-->
    <div class="ui agree basic modal" th:fragment="agreeModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否同意请求
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="agree">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--确认通知-->
    <div class="ui yes basic modal" th:fragment="yesModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否同意请求
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="yesButton">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--驳回迭代-->
    <div class="ui rej basic modal" th:fragment="rejModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否驳回请求
        </div>
        <div class="ui content">
            <div class="ui inverted form">
                <div class="field">
                    <label>驳回理由</label>
                    <textarea rows="2" name="reason" v-model="reason"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="rejButton">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--同意迭代-->
    <div class="ui agr basic modal" th:fragment="agrModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否同意请求
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="agrButton">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--拒绝建议-->
    <div class="ui rejectSuggest basic modal" th:fragment="rejectSuggestModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否拒绝建议?
        </div>
        <div class="ui content">
            <div class="ui inverted form">
                <div class="field">
                    <label>拒绝理由</label>
                    <textarea rows="2" name="reason" v-model="reason"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--编辑节点-->
    <div class="ui edit basic modal" th:fragment="editModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            请选择要保存的模块
        </div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden" value="1" name="select" v-model="select">
                        <label>博客内容</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="1" class="hidden" value="2" name="select" v-model="select">
                        <label>导图内容</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                取消
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                保存
            </div>
        </div>
    </div>

    <!--展现建议节点-->
    <div class="ui showSuggest fullscreen modal" th:fragment="showIndexSuggestModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="ui container" style="width: 80%;">
                <div class="ui stacked segment">
                    <div class="ui header">问题1:{{suggest.question}}</div>
                    <p>方案:</p>
                    <div v-html="suggest.suggest"></div>
                    <div class="ui header">问题2:{{suggest.extend}}</div>
                    <p>方案:</p>
                    <div v-html="suggest.extendSuggest"></div>
                    <div class="ui header">前置节点建议:</div>
                    <div v-html="suggest.previousSuggest"></div>
                    <div class="ui header">后置节点建议</div>
                    <div v-html="suggest.nextSuggest"></div>
                </div>
            </div>
        </div>
    </div>
    <!--展现节点文本内容-->
    <div class="ui show fullscreen modal" th:fragment="showModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="ui container" style="width: 90%;">
                <div class="ui raised segment">
                    <div class="ui center aligned header">{{node.title}}</div>
                    <div id="content"></div>
                </div>
            </div>
        </div>
    </div>
    <!--展现节点文本内容-->
    <div class="ui showBlog fullscreen modal" th:fragment="showIndexBlogModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="ui container" style="width: 80%;">
                <div class="ui stacked segment">
                    <h1 class="ui center aligned header">{{showNode.title}}</h1>
                    <div id="showBlogContent" style="height: 90%;"></div>
                </div>
            </div>
        </div>
    </div>
    <!--展现节点导图内容-->
    <div class="ui showMap fullscreen modal" th:fragment="showIndexMapModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="ui container" style="width: 80%;">
                <div class="ui stacked segment">
                    <div id="mapContainer" style="height: 90%;"></div>
                </div>
            </div>
        </div>
    </div>
    <!--修改博客内容-->
    <div class="ui changeBlog fullscreen modal" th:fragment="changeBlogModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="ui container" style="width: 90%;">
                <div class="ui raised segment">
                    <form class="ui form">
                        <div class="ui grid">
                            <div class="ui four wide column">
                                <div class="field">
                                    <label>博客标题</label>
                                    <input type="text" name="changeTitle" placeholder="请输入标题" v-model="changeTitle">
                                </div>
                                <div class="field">
                                    <label>简单描述</label>
                                    <input type="text" name="changeDes" placeholder="请输入简单描述" v-model="changeDes">
                                </div>
                                <div class="actions">
                                    <div class="ui approve button">保存</div>
                                    <div class="ui cancel button">取消</div>
                                </div>
                            </div>
                            <div class="ui twelve wide column">
                                <div id="modal" style="height: 1200px;"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--删除博客节点-->
    <div class="ui deleteBlog basic modal" th:fragment="deleteBlogModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否删除博客
        </div>
        <div class="content">
            <p>如果不是端点节点，删除失败(根节点不能删除)</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="deleteBlogModel">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>

    <!--禁用用户-->
    <div class="ui stopUser basic modal" th:fragment="stopUserModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否禁用用户
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="stopUserModel">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--解禁用户-->
    <div class="ui agreeUser basic modal" th:fragment="agreeUserModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否解禁用户
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="agreeUserModel">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--编辑用户-->
    <div class="ui editUser basic modal" th:fragment="editUserModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="ui container" style="width: 90%;">
                <div class="ui raised segment">
                    <form class="ui form">
                        <div class="ui negative message" v-show="usernameMessage">
                            <i class="close icon"></i>
                            <p>{{errorMessage}}</p>
                        </div>
                        <div class="field">
                            <label>用户名</label>
                            <input type="text" name="username" placeholder="请输入标题" v-model="username">
                        </div>
                        <div class="ui negative message" v-show="userDescMessage">
                            <i class="close icon"></i>
                            <p>新简介不能为空</p>
                        </div>
                        <div class="field">
                            <label>用户简介</label>
                            <input type="text" name="userDesc" placeholder="请输入简单描述" v-model="userDesc">
                        </div>
                        <div class="ui negative message" v-show="userEmailMessage">
                            <i class="close icon"></i>
                            <p>新邮箱不能为空</p>
                        </div>
                        <div class="field">
                            <label>用户邮箱</label>
                            <input type="email" name="userEmail" placeholder="请输入邮箱" v-model="userEmail">
                        </div>
                        <div class="actions">
                            <div class="ui green approve button">保存</div>
                            <div class="ui cancel button">取消</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--普通删除通知-->
    <div class="ui deleteNotice basic modal" th:fragment="deleteNoticeModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否删除通知
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="deleteNoticeModel">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--彻底删除通知-->
    <div class="ui completeDeleteNotice basic modal" th:fragment="completeDeleteNoticeModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否彻底删除用户
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="completeDeleteNoticeModel">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--编辑通知-->
    <div class="ui editNotice basic modal" th:fragment="editNoticeModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="ui container" style="width: 90%;">
                <div class="ui raised segment">
                    <form class="ui form">
                        <div class="ui negative message" v-show="errorMessage">
                            <i class="close icon"></i>
                            <p>信息不能为空</p>
                        </div>
                        <div class="field">
                            <label>发送信息</label>
                            <input type="text" name="editMessage" placeholder="请输入发送信息"
                                   v-model="editMessage">
                        </div>
                        <div class="actions">
                            <div class="ui green approve button">保存</div>
                            <div class="ui cancel button">取消</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--删除建议-->
    <div class="ui deleteSuggest basic modal" th:fragment="deleteSuggestModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否删除建议
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="deleteSuggestModel">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>

    <!--删除迭代-->
    <div class="ui deleteIterator basic modal" th:fragment="deleteIteratorModel">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否删除建议
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button" id="deleteIteratorModel">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--编辑迭代理由-->
    <div class="ui editIterator basic modal" th:fragment="editIteratorModel">
        <i class="close icon"></i>
        <div class="content">
            <div class="ui container" style="width: 90%;">
                <div class="ui raised segment">
                    <form class="ui form">
                        <div class="ui negative message" v-show="errorMessage">
                            <i class="close icon"></i>
                            <p>理由不能为空</p>
                        </div>
                        <div class="field">
                            <label>迭代理由</label>
                            <input type="text" name="reason" placeholder="请输入迭代理由"
                                   v-model="reason">
                        </div>
                        <div class="actions">
                            <div class="ui green approve button">保存</div>
                            <div class="ui cancel button">取消</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>